
.login-box {
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(211, 107, 55, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box .checkbox{
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
 label {
    position: absolute;
    top:0;
    font-size: 16px;
    color:aliceblue;
  }
  
 .checkbox input{
    margin-left: 140px;
 }
 
 .login-box button{
    /* display: block; */
    padding: 0.9rem;
    border-radius: 2rem;
    width: 100px;
    margin-bottom: 12px;
    margin-left:110px;

 }
.login-box button:hover{
    background: transparent;
    color: white;
    cursor: pointer;
    border-color: white;
}


body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-screen{
    display: flex;
    flex-direction: row; 
}

.left-screen, .right-screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-screen{
    margin-top: 400px;
    margin-left: 300px;
}
.left-screen{
    /* margin-top: 10px; */
    margin-bottom: 80px;
}

h1{
    position: absolute;
    margin-bottom: 1200px;
    margin-right: 420px;
}
p{
    margin-left: 60px;
}

::placeholder{
  color:aliceblue;
}